@{
    ViewData["Title"] = "Resultados";
}

<div class="text-center">
    <h1 class="display-4">Resultados do Cadastro</h1>

    <p><strong>Nome:</strong> @ViewData["Nome"]</p>
    <p><strong>Endereço:</strong> @ViewData["Endereco"]</p>
    <p><strong>Telefone:</strong> @ViewData["Telefone"]</p>
</div>
